* {
    box-sizing: border-box;
}

body {
    margin: 100px;
    overflow: hidden;
}

.field {
    width: 500px; height: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
}

.cell {
    width: 5px; height: 5px;
}

.snakeBody {
	background: green;
}

.snakeHead {
	background: darkgreen;
	border-radius: 20%;
}

.point {
    background: red;
}

.score {
    width: 100px;
    font-size: 20px;
    display: block;
}
.delay {
    width: 200px;
    font-size: 20px;
    display: block;
}